* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: inherit;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #ffffff;
}

nav h3 {
    display: none;
}

#center {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 9.5vw;
}

#left h3 {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1 {
    font-size: clamp(32px, 10vw, 140px);
    text-align: right;
    margin-top: 4vw;
    width: 100%;
}

#page1 video {
    position: relative; */
    der-radius: 30px;
    margin-top: 4vw;
    width: 100%;
}

.hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}

.hero-2,
.hero-3 {
    background-image: linear-gradient(#FE230A, #FE3F0A);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    filter: blur(25px);
}

.hero-2 {
    animation: anime2 5s linear infinite alternate;
}

.hero-3 {
    animation: anime1 5s linear infinite alternate;
}

.hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

@keyframes anime2{
    from {
        transform: translate(5%, -5%);
    }
    to {
        transform: translate(-20%, 30%);
    }
}

@keyframes anime1{
    from {
        transform: translate(55%, -3%);
    }
    to {
        transform: translate(0%, 10%);
    }
}

.page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}

.moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

.moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation: move 10s linear infinite;
}

.moving-text h2 {
    font-size: 9vw;
    display: inline-block;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.circle-shape {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;
    background-color: #FE320A;
}
.page2-bottom{
    height: 80vh;
    width: 100%;
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

.page2-bottom h2 {
    font-size: 5vw;
    width:  60%;
    line-height: 4.8vw;
}

.bottom-part2 {
    width: 20%;
}

.bottom-part2 img{
    width: 100%;
    border-radius: 15px;
}

.bottom-part2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1.2vw;
}

.page2 .bg-moving-circle {
    height: 42vw;
    width: 42vw;
    position: absolute;
    border-radius: 50%;
    background-image: linear-gradient(to top right, #FF2D02, #FF5C0B);
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation: gooey 6s infinite alternate ease-in-out;
}

@keyframes gooey {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }
    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

.page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;    
    padding: 4vw 0;
}

.elem {
    height: 150px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #38383864;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
    cursor: pointer;
}

.elem .overlay {
    height: 100%;
    width: 100;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
}

.elem:hover .overlay{
    top: 0;
}

.fixed-image {
    height: 30vw;
    width: 24vw;
    border-radius: 15px;
    z-index: 99;
    left: 50%;
    top: 25%;
    position: fixed;
    background-size: cover;
    background-position: center;
}

.page4 {
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 30%;
    border-left: 1px solid #AEADAD;
    padding: 0 2vw;
}

.page5 {
    height: 100vh;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    height: 105vh;
    width: 100%;
    background-color: #000033;
    color: #ffffff;
    z-index: 9;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw  3vw;
}

footer h1 {
    font-size: 23vw;
}

.footer-head{
    height: 20vh;
    width: 100%;
    background-color: red;
}

.footer-bottom {
    border-top: 1px solid #DADADA;
    height: 10vh;
    width: 100%;
}

.full-scr{
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}

.footer-head{
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width: 600px) {
    .page1 {
        min-height: 100vh;
        width: 100vw;
        padding: 0 0vw;
    }

    nav {
        padding: 8vw 5vw;
        background-color: #EFEAE3;
    }

    nav img {
        transition: all ease 0.2s;
        height: 9vh;
    }

    nav img {
        transition: all ease 0.2s;
        height: 9vh;
    }

    .nav-part2 {
        display: none;
    }

    nav h3 {
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ABABAB;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }

    .center {
        height: 62vh;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }

    .left h3 {
        width: 80%;
        font-size: 5.5vw;
        line-height: 6vw;
    }

    .center h1 {
        font-size: 17vw;
        text-align: right;
        line-height: 15vw;
    }

    .page1 video{
        position: relative;
        border-radius: 15px;
        margin-top: 4vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        width: 92%;
        margin-left: 4%;
    }
    .page2 {
        min-height: 100vh;
        width:  100%;
        background-color: #EFEAE3;
        padding: 8vw 9;
        position: relative;
    }

    .moving-text {
        overflow: auto;
        white-space: nowrap;
    }

    .moving-text::-webkit-scrollbar {
        display: none;
    }
    .con {
        white-space: nowrap;
        display: inline-block;
        animation: move 10s linear infinite;
    }

    .moving-text h1 {
        font-size: 15vw;
        display: inline-block;
    }

    .bg-moving-circle{
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        background-color: #FE230A;
        margin: 2vw;
    }

    .page2-bottom {
        height: 90vh;
        width: 100%;
        padding: 10vw 4vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        z-index: 9;
    }

    .page2-bottom h1 {
        font-size: 8.2vw;
        width: 100%;
        line-height: 9vw;
    }

    .bottom-part2 {
        width: 70%;
    }

    .bottom-part2 img{
        width: 100%;
        border-radius: 10px;
    }

    .page2 .bg-moving-circle {
        height: 62vw;
        width: 62vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right, #FF2D03, #FF5C0B);
        top: 58%;
        left: 25%;
        filter: blur(20px);
        animation: moving-circle 6s infinite alternate ease-in-out;
    }
}

.loader h1 {
    font-size: 4vw;
    color: transparent;
    background-image: linear-gradient(to right, orange, orangered);
    background-clip: text;
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation: load 1s 1s linear;
}

.loader h1:nth-child(2) {
    animation-delay: 2s;
}

.loader h2:nth-child(3) {
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    .loader h1 {
        font-size: 9vw;
    }
}
